<div class="section__container">
      <h1 class="homepage__hero">Welcome to heaven trip</h1>
    <p class="homepage__description">You want go to heaven when you die?</p>
    <p class="homepage__subscription">This is for you! </p>
  <div class="authen__container">
<h1 style="margin-bottom: 10px; text-align: center; display: block">New Booking Tour</h1>

<%= render 'form', booking_tour: @booking_tour %>

<%= link_to 'Back', booking_tours_path %>
</div>
</div>
