
<div class="section__container">
    <h1 class="homepage__hero">Welcome to heaven trip</h1>
    <p class="homepage__description">You want go to heaven when you die?</p>
    <p class="homepage__subscription">This is for you! </p>
<%= link_to "List Tours", tours_path, class:"app__button button--list-tour" %>
</div>
